<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Agera Emmanuel | Full-Stack Developer</title>
	<link rel="icon" href="/favicon.ico" type="image/x-icon">
	<link rel="stylesheet" href="/styles/styles.css">
	<link rel="stylesheet" media="screen and (max-width: 800px)" href="/styles/mobile.css">
	<link rel="stylesheet" media="screen and (max-width: 450px)" href="/styles/small_screen.css">
</head>
<body>

	<nav class="navbar">
		<div class="wrapper">
			<div>
				<h1 class="logo">AGERA</h1>
			</div>
			<button class="button" onclick="toggleDarkMode()"><img src="/img/dark_mode_moon_sun_ui.webp" width="20px" alt="dark mode icon" srcset=""></button>
			<div class="nav-wrapper">
				<input type="checkbox" id="toggler">
				<div class="hamburger"><div></div></div>
				<div class="menu-wrapper">
					<ul>
						<li><a href="/">Home</a></li>
						<li><a href="#faq">FAQs</a></li>
						<li><a href="#project">Projects</a></li>
						<li><a href="/blog">Blog</a></li>
						<li><a href="/about">About</a></li>
						<li><a href="/contact">Contact</a></li>
					</ul>
				</div>
			</div>
		</div>
	</nav>
	<section id="main-portfolio">
		<div class="wrapper animate wrapper-padding">	
			<div class="available">
				<div class="spin"></div>
				<div class="animate">
					<p id="avai-font">Am available</p>
				</div>
			</div>
			<div  class="stack-message animate">
				<h1>FullStack Web Developer</h1>
				<p>
					I enjoy transforming your ideas
					into good looking and awesome solutions
					through creative design and smart backend logic.
				</p>
				<a class="home-btn " href="/contact">Hire me</a>
				<a class="home-btn btn-primary" href="#project">View my works</a>

			</div>

			
				<div class="exp-wrapper">
					<div class="box animate">
						<h1>1+</h1>
						<p>Years of Experience</p>
						<p>Learning and improving Daily</p>
					</div>
					<div class="box animate">
						<h1>2+</h1>
						<p>Projects Completed</p>
						<p>Yours Will counted</p>
					</div>
					<div class="box animate">
						<h1>2+</h1>
						<p>Happy Clients </p>
						<p>You will be Counted</p>
					</div>
				</div>
		</div>
	</section>

	<!-- Technologies section -->
	<section>
		<div>
			<h2 class="subheading center-text">Technologies I am good at</h2>
			<div class="languages">
				<div class="items animate">
					<h2 class="center-text py-2">HTML</h2>
					<p>
						I have solid foundation in Html 
						Building structured and semantic web pages with HTML5
					</p>
					<p class="num-percent ">90%</p>
					<div class="percent html-percent animate">
						<div class="animate"></div>
					</div>
				</div>

				<div class="items animate">
					<h2 class="center-text py-2" >CSS</h2>
					<p>
						Crafting visually appealing and responsive 
						designs with CSS
					</p>
					<p class="num-percent ">85%</p>
					<div class="percent css-percent animate">
						<div class="animate"></div>
					</div>
				</div>

				<div class="items animate">
					<h2 class="center-text py-2">JavaScript</h2>
					<p>
						Creating dynamic and interactive web applications
						with JavaScript
					</p>
					<p class="num-percent ">80%</p>
					<div class="percent js-percent animate">
						<div class="animate"></div>
					</div>
				</div>

				<div class="items animate">
					<h2 class="center-text py-2">React js</h2>
					<p class="center-text">
						Developing reusable UI components and efficient 
						state management with React
					</p>
					<p class="num-percent ">80%</p>
					<div class="percent react-percent animate">
						<div class="animate"></div>
					</div>
				</div>
				<div class="items animate">
					<h2  class="center-text py-2">Node js</h2>
					<p>
						Building scalable and high-performance 
						server-side applications with Node.js
					</p>
					<p class="num-percent ">80%</p>
					<div class="percent node-percent animate">
						<div class="animate"></div>
					</div>
				</div>
				<div class="items animate">
					<h2  class="center-text py-2">Express js</h2>
					<p>
						Creating robust and flexible web applications
						with Express.js framework
					</p>
					<p class="num-percent ">80%</p>
					<div class="percent express-percent animate">
						<div class="animate"></div>
					</div>
				</div>
				<div class="items animate">
					<h2  class="center-text py-2"> PostgreSQL</h2>
					<p>
						Designing and managing relational databases with PostgreSQL
					</p>				
					<p class="num-percent ">90%</p>
					<div class="percent postgre-percent animate">
						<div class="animate"></div>
					</div>
				</div>
				</div>	
			</div>
		</div>
	</section>

	
	<section class="section-padding" id="faq" >
		<div class="faq ">
			<h1 class="center-text big-text py-2 primary-text">Frequently asked Questions</h1>
			<div class="faq-icon">
				<img src="./img/icons/faq-icon.png" width="50px" alt="faq icon">
			</div>
			<div class="faq-items animate">
				<h3 class="unhide py-2">What is your development process? </h3>
				<p class="hide">
					I follow a structured process that includes requirements gathering,
						wireframing, design, development, testing, and deployment to ensure 
						high-quality deliverables.
				</p>
			</div>

			<div class="faq-items animate">
				<h3 class="unhide py-2"> What technologies do you specialize in? </h3>
				<p class="hide">
					I specialize in technologies such as HTML, CSS, JavaScript, React,
					Node.js, Express.js, Python, PostgreSQL. I'm also open 
					to discussing other technologies that fit your project needs.
				</p>
			</div>

			<div class="faq-items animate">
				<h3 class="unhide py-2">How do you ensure website security? </h3>
				<p class="hide">
					I prioritize website security by implementing best practices
					such as secure coding, data encryption, secure
					authentication, and regular updates to prevent 
					vulnerabilities.
				</p>
			</div>

			<div class="faq-items animate">
				<h3 class="unhide py-2">What is your turnaround time for projects? </h3>
				<p class="hide">
					Turnaround times vary depending on project complexity 
					and scope. I provide estimated timelines during 
					the project discussion phase and work diligently 
					to meet deadlines.
				</p>
			</div>
			<div class="faq-items animate">
				<h3 class="unhide py-2">Do you provide ongoing support? </h3>
				<p class="hide">
					Yes, I offer ongoing support and maintenance 
					services to ensure your website or application 
					continues to perform optimally and remains 
					up-to-date with the latest technologies and 
					security patches.
				</p>
			</div>
			<div class="but">
				<button class="home-btn"><a href="/contact">Any other Questions?</a></button>
			</div>
		</div>
	</section>

	<!-- Projects Section -->

	 <section id="project">
		<h1 class="heading">Selected works</h1>
		<div class="project-wrapper">
			<% projects.forEach(proj =>{%>
				<a href="<%=proj.links  %>">

					<div class="animate">
						<div class="proj_img">
							<img src="/uploads/<%= proj.project_img_url %>" alt="Project image">
						</div>
						
						<div class="descript">
							<h1 style="color: #333;"><%= proj.project_title %></h1>
							<%- proj.project_description %>
						</div>
					</div>
		
				</a>
				<%}) %>

		</div>
	 </section>

	
<%- include("partials/footer.ejs")  %>